<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>World Wines</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.5/examples/album/"
    />

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <link href="css/album.css" rel="stylesheet" />
  </head>
  <body>
   
    <div class="row col-md-12 col-md-offset-2 custyle mx-auto">
      
   
    <h1 class="mx-auto">2020 Predictions </h1>
  
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Store Number</th>
            <th>Date</th>
           

        </tr>

        <%   feature.forEach(funtion(features) {
            
        %>

            <tr>
                <td><%=  feature.Store  %></td>
                <td><%=  feature.date  %></td>
                
                
                <td class="text-center"><a  href="/taster/edit/<%= taster.id%>"class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Edit</a> 
                  <a  href="/tasters/delete/<%= taster.id %>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                 
            </tr>
            
         <%  
          });
         %>


       
    </thead>
          
    </table>

     
    </div>
    
  
    <%- include('common/footer') -%>
  </body>
</html>
